on boot
    # Dokunmatik sürücüsünü uyandırma komutları
    chown system system /sys/class/input/input*
    chmod 0660 /sys/class/input/input*
    
    # Bazı Xiaomi cihazlarda dokunmatik için gereken güç komutu
    write /sys/class/input/input0/enabled 1
    write /sys/class/input/input1/enabled 1
    write /sys/class/input/input2/enabled 1
    
    # MediaTek dokunmatik modüllerini manuel yükle
    insmod /vendor/lib/modules/mtk_tpd.ko
    insmod /vendor/lib/modules/focaltech_touch.ko
    
    # Dokunmatik servisini başlat
    start hbtp

service hbtp /system/bin/hbtp_daemon
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
